{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<p class="author">作者: {{ . }}</p>{{ end }}
{{ if .Params.date }}<p class="date">{{ .Date.Format "2006/01/02" }}</p>{{ end }}
<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</p>
</div>

{{ if .Params.toc }}
{{ .TableOfContents }}
{{ end }}
<div class="content-wrapper">
  <main>
    {{ .Content }}
    <!-- <a href="/"> >> Home</a> -->
  </main>
  {{ $related := .Site.RegularPages.Related . | first 3 }}
    {{ with $related }}
    <h3>Related</h3>
    <ul>
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
</div>

<br><hr>
{{ partial "disqus.html" . }}

{{ partial "footer.html" . }}
